# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env
.env.test
.env.production
.env.local

# Secrets and keys
*.pem
*.key

# Editor files
.vscode
.idea
.DS_Store
